html,
body{
    height: 100%;
}
.header{
    background: #35C597;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    height: .9rem;
    padding: .16rem 0;
    position: fixed;
    top: 0;
    -webkit-flex-direction: row;
    width: 100%;
    -webkit-align-items: center;
    align-items: center;
}
.header-icon{
    flex: initial;
    -webkit-flex: initial;
    font-size: .5rem;
    margin: 0 .2rem;
    color: white;
    line-height: .74rem;
}
.header-input{
    border: none;
    flex: 1;
    font-size: .3rem;
    height: .6rem;
    position: relative;
    -webkit-flex: 1;
}
.header-input input[type="text"]{
    background: #279270;
    border: none;
    border-radius: .74rem;
    height: 100%;
    width: 100%;
}
.header-input .header-search{
    color: #35C597;
    left: 50%;
    position: absolute;
    margin-left: -.75rem;
    margin-top: -.15rem;
    top: 50%;
}
.header-search:before{
    color: inherit;
    content: "\e61c";
    font-family: 'iconfont'!important;
    position: absolute;
    left: -.5rem;
}
.content{
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.head{ height: 1.22rem;}
.foot{ height: 1rem;}
.content-purchase{
    display: -webkit-flex;
    display: flex;
    height: .83rem;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    font-size: .3rem;
    border-bottom: 1px solid #d5d5d5;
}
.content-purchase-a{
    -webkit-flex: 1;
    flex: 1;
    width: 2.3rem;
    text-align: center;
    line-height: .83rem;
    margin: 0 .76rem;
}
 .content-active{
    color: #35C597;
    border-bottom: 0.04rem solid;
}
.content-list{
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.content-list-view{
    -webkit-flex: initial;
    flex: initial;
    min-width: 1.75rem;
    border-right: 0.04rem solid #d5d5d5;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.content-list-item{
    -webkit-flex: 1;
    flex: 1;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    margin-bottom: 1rem;
}
.listview{
    font-size: .28rem;
    text-align: center;
}
.listview>li{
    height: .9rem;
    line-height: .9rem;
}
.listview li:first-of-type{
    color: #a0a0a0;
    position: relative;
}
.listview li:first-of-type:before{
    content: "";
    width: 0;
    height: 0;
    border-top: .15rem solid transparent;
    border-right: .15rem solid #dadada;
    border-bottom: .15rem solid #dadada;
    border-left: .15rem solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}
.list li:first-of-type:after{
}
.listview .active{
    border-left: .1rem solid #35C597;
}
.listitem-details li:first-of-type{
    padding: 0 0 0 .2rem;
    margin: 0;
    background: #efefef;
    font-size: .25rem;
    text-align: left;
    height: .5rem;
    line-height: .5rem;
    color: #a0a09e;
}
.listitem-details li{
    margin: .3rem 0 0 .2rem;
    padding-right: .3rem;
    border-bottom: 1px solid #dadada;
}
.listitem-price{
    display: block;
    margin: .33rem 0;
}
.price1{
    font-size: .28rem;
    color: #ff6c00;
}
.price2{
    font-size: .22rem;
    color: #acacac;
}
.listitem-introduction{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.listitem-number{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.listitem-data{
    -webkit-flex: 1;
    flex: 1;
}
.listitem-sum{
    -webkit-flex: 1;
    flex: 1;
}
.listitem-sum input[type=text]{
    height: .6rem;
    width: 2rem;
    font-size: .2rem;
    border: none;
    display: block;
    border: 2px solid #dadada;
    border-radius: .3rem;
    text-align: center;
    margin: .19rem 0;
}
.listitem-sum span{
    display: block;
    font-size: .22rem;
    text-align: center;
    width: 2rem;
}
.listitem-img{
    -webkit-flex: initial;
    flex: initial;
    width: 1.68rem;
    height: 1.68rem;
    font-size: .3rem;
    border: none;
}
.listitem-p{
    -webkit-flex: 1;
    flex: 1;
    margin-left: .2rem;
    font-size: .24rem;
    color: #939393;
}
.listitem-p .title{
    color: #282828;
    display: inline-block;
    padding-bottom:.2rem ;
    font-size: .3rem;
}
.footer{
    background: white;
    border-top: 0.04rem solid #898989;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    font-size: .32rem;
    height: 1rem;
    width: 100%;
    line-height: 1rem;
}
.footer-gouwu{
    display: inline-block;
    margin: 0 .2rem;
    position: relative;
}
.icon-gouwu{
    font-size: .4rem;
    color: #FA7221;
}
.footer-number{
    font-size: .24rem;
    height: .37rem;
    width: .37rem;
    background: #FA7221;
    color: white;
    text-align: center;
    line-height: .37rem;
    border-radius: 50%;
    position: absolute;
    top: 0.15rem;
    left: 0.15rem;
}
.footer-button{
    width: 2.1rem;
    height: .7rem;
    border-radius: .7rem;
    background: #FA7221;
    color: white;
    line-height: .7rem;
    text-align: center;
    border:none;
    position: absolute;
    bottom: .17rem;
    right: .22rem;
}