@font-size: 100px;
@media screen and (max-width: 749px) and (min-width: 414px){
    html{ font-size: 414/750*@font-size;}
}
@media screen and (max-width: 413px) and (min-width: 375px) {
    html{ font-size: 375/750*@font-size;}
}
@media screen and (max-width: 374px) {
    html{ font-size: 320/750*@font-size;}
}
@header-bgcolor: #35c597;
@header-height: .9rem;

.display-flex (@direction) {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: @direction;
    flex-direction: @direction;
}
.flex-num (@num) {
  -webkit-flex: @num;
  flex: @num;
}

.header{
    .display-flex(row);

    height: @header-height;

    background: @header-bgcolor;
}
.icon{
  display: inline-block;

  margin: 0 .2rem;

  font-size: .5rem;
  line-height: @header-height;

  color: white;
}
.search{
  .display-flex(row);

  .flex-num(1);

  position: relative;

  margin: auto 0;
  border: 0;
  border-radius: .6rem;
  height: .6rem;

  font-size: .3rem;
  text-align: center;
  line-height: .6rem;

  color: @header-bgcolor;
  background: #279270;

  .hint{
    z-index: 1;
    display: inline-block;

    position: absolute;
    left: 1.5em;

    visibility: hidden;
  }
  .icon-search{
    display: inline-block;

    position: absolute;
    right: 0;
    bottom: 0;

    padding: 0 .5em;

    /*&:before{
      content: "\3465";

      font-family: iconfont!important;
    }*/
  }
  input[type="search"]{
    z-index: 2;
    display: block;

    position: relative;
    margin: .14rem 2em .14rem 1em;
    width: 100%;

    border: 0;

    font-size: .3rem;
    text-align: center;

    color: @header-bgcolor;
    background: transparent;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .cancel{
    display: none;
  }
}
.cancel{
  display: none;

  margin: auto .2rem;
  border: 0;
  height: .6rem;
  width: 2.5em;

  font-size: .3rem;
  text-align: center;

  color: white;
  background: @header-bgcolor;
}
.search-container{
  padding: .6rem 0 0 .3rem;

  background: #f3f6f6;
  h4{
    padding-bottom: .3rem;

    font-size: .26rem;
    text-align: left;

    color: #9f9f9f;
  }
  .hot-search{
    padding-bottom: .54rem;
    ul{
      line-height: .5rem;
    }
    li{
      display: inline-block;

      margin-right: .18rem;
      padding: 0 .22rem;
      border-radius: .35rem;
      border: 1px solid #dcdcdc;
      height: .7rem;

      font-size: .24rem;
      text-align: center;
      line-height: .7rem;
      
      color: black;
      background: white;
    }
  }
  .search-history{
    li{
      padding: .24rem 0;
      border-top: 1px solid #dcdcdc;

      font-size: .24rem;
    }
  }
}
